<!-- wp:template-part {"slug":"header","theme":"wc-booster"} /-->

<!-- wp:pattern {"slug":"wc-booster/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"wc-booster/usf"} /-->
</main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wc-booster","tagName":"footer"} /-->